@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<!-- HuynhPV tao giao dien wweb  -->
<html>
<head>
    <meta charset="UTF-8">
    <!-- custom theme  -->
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="/Content/fontawesome/css/all.css">
    <!-- js -->
    <script src="/Content/js/index.js"></script>
</head>
<body>
    <!-- ------------------------- -->
    <!-- day la header trên cùng   -->
    <!-- ------------------------- -->
    <div class="header">
        <div class="header-content">
            <!-- thanh controller -->
            <div class="nav-control">
                <div class="button-menu-header" onclick="onClickMenuHeader()">
                    <div class="line-menu-header"></div>
                    <div class="line-menu-header"></div>
                    <div class="line-menu-header"></div>
                </div>
            </div>
            <!-- cac icon ben phai  -->
            <div class="header-right">
                <a>
                    <i class="fas fa-bell"></i>
                    <span class="count-notification">9 Thông báo</span>
                </a>
            </div>
        </div>
    </div>
    <!-- ------------------------- -->
    <!-- day la  action bar menu   -->
    <!-- ------------------------- -->
    <div class="action-bar-menu" id="actionbar-menu">
        <ul>
            <li>
                <a><i class="fas fa-house-user"></i>Home</a>
            </li>
            <li>
                <a><i class="fab fa-product-hunt"></i>Sản phẩm</a>
            </li>
            <li>
                <a><i class="fas fa-users"></i>Khách hàng</a>
            </li>
            <li>
                <a><i class="fab fa-first-order"></i>Đơn đặt hàng</a>
            </li>
            <!-- ------------------------- -->
            <!-- tessst   -->
            <!-- ------------------------- -->
            <li>
                <a><i class="fas fa-house-user"></i>Home</a>
            </li>
            <li>
                <a><i class="fab fa-product-hunt"></i>Sản phẩm</a>
            </li>
            <li>
                <a><i class="fas fa-users"></i>Khách hàng</a>
            </li>
            <li>
                <a><i class="fab fa-first-order"></i>Đơn đặt hàng</a>
            </li>
        </ul>
    </div>
    <!-- ------------------------- -->
    <!-- day la  content   -->
    <!-- the section de phan biet phan nay vs câ phan khac  -->
    <!-- ------------------------- -->
    <section class="content">
        <div class="content-fluid">
            <div class="block-header"><h2>HOME</h2></div>
        </div>

    </section>

</body>
</html>